@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Poppins:wght@300;400&display=swap");

/* * {
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  line-height: 1.15;
} */
body {
  /* background-color: whitesmoke; */
  overflow-x: hidden;
  width: 100vw;
  /* height: 100vh; */
}

nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  min-height: 10vh;
  z-index: 9999!important;
}








.recent-posts {
  margin-top: 20;
}

section {
  max-width: 98%;
  margin-top: 50px;
}

table {
  margin: 2px;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.button .btn {
  min-width: 5rem;
  margin-bottom: 2rem;
}

.table thead th {
  border-bottom: none;
}
.table thead {
  background-color: whitesmoke;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

thead th {
  color: rgb(56, 53, 53);
  font-weight: 100;
}

.hero-page {
  position: relative;
  height: 60vh;
  background-color: #2563eb;
  overflow: hidden;
}





