@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600&family=Slabo+27px&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

*{
    font-family: 'Mukta', sans-serif;
}


.blog {
  width: 98%;
  height: 100%;
}

.user-header {
  background: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 200px;
  width: 100%;
  margin: 5px auto;
  padding: 10px;
  position: sticky;
  top: 0;
  border-radius: 1.05rem;
}

.user-header img,
aside img {
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
  padding: 10px;
}
.blog-reader {
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
  padding: 1rem 3rem;
}

.blog-reader h1,
.blog-reader h2,
.blog-reader h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* Paragraph styles */
.blog-reader p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Image styles */
.blog-reader img {
  width: 100%;
  max-height: 400px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}

.other-blogs {
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: sticky;
  height: 200px;

  top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem; /* change the font size to your desired value */
  line-height: 1.2; /* change the line height to your desired value */
  margin: 0; /* remove any default margin */
  padding: 0; /* remove any default padding */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Your CSS file or within your component's style block */
.list-group-item.active {
  border-radius: 5px; /* Adjust the value as needed */
  padding: 0 3px;
}


.my-sidebar {
  width: 18vw;
}
.my-other-sidebar {
  width: 15vw;
}

.my-body {
  width: 80vw;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  /* Hide the sidebar with absolute positioning */

  .my-sidebar {
  
   margin-top: 25px;
  }
  .my-other-sidebar {
  
  }

  /* Make the body take full width */
  .my-body {
    width: 100vw;
 
  }
}

li a{
  text-decoration: none;
}
