.blog {
  width: 90%;
  margin: 20px auto;
}

.user-header {
  background: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  min-height: 200px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}
.user-header img,
aside img {
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
  padding: 10px;
}
.blog-reader {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 3rem;
}

.blog-reader h1,
.blog-reader h2,
.blog-reader h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* Paragraph styles */
.blog-reader p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Image styles */
.blog-reader img {
  width: 100%;
  max-height: 400px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}

.other-blogs {
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: sticky;
  height: 200px;
  border-radius: 2px;
  top: 0;
  border-bottom-right-radius: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem; /* change the font size to your desired value */
  line-height: 1.2; /* change the line height to your desired value */
  margin: 0; /* remove any default margin */
  padding: 0; /* remove any default padding */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
